*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-image: url(strawberry.jpg);
    background-size: cover;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:rgb(216, 19, 121) wavy underline;
}

#todo-input{
    width: 400px;
    padding: 10px 10px;;
}

#todo-add{
    border-radius: 40%;
    border: 1.9px solid rgb(38, 22, 33);
    font-weight: bolder;
    height: 30px;
    width: 70px;
    background-color: rgb(216, 19, 121);
    color: beige;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}

ol{
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 20px 50px;
    line-height: 40px; 
    background-color: rgb(248, 155, 219);
    border-radius: 10%;
}